fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-multipart
cloudinary
passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
ddgs
smolagents
mistralai
python-docx
reportlab
num2words
openpyxl
litellm
deepl
langfuse
openinference-instrumentation-smolagents
opentelemetry-sdk
opentelemetry-exporter-otlp
